/* DEFAULT DESIGN */
body {
  background-image: url(https://raw.githubusercontent.com/GhitaB/profile/master/background-texture.png);
}

.container {
  background: #FFFFFF;
  min-height: 120vh;
  margin-bottom: 20px;
  padding: 20px;
}

h1.page-title {
  color: #000000;
  font: normal normal 40px Dancing Script;
}

h2.section-title {
  color: #666666;
}

p, p.page-desctiption, body {
  color: #666666;
}


/* CUSTOM DESIGN */
body {
  color: #111111;
  font-family: sans-serif;
}

h1.title {
  font-size: 4vw;
  font-family: serif;
  color: #111111;
}

h2.title {
  font-size: 2vw;
  color: #CCCCCC;
}

h3 {
  font-size: 30px;
  color: #111111;
  text-align: left;
}

h4 {
  font-size: 20px;
  color: #CCCCCC;
  text-align: left;
}

div#gallery div.gallery-item {
  margin-top: 50px;
  border-top: 5px dotted #CCCCCC;
}

div#gallery div.gallery-item img {
  border-radius: 10px;
  max-height: 40vh;
  margin: 10px auto 0 auto;
  border: 1px solid #111111;
}

div#gallery div.gallery-item div.caption {
  margin-top: 10px;
  padding: 20px;
  border-radius: 10px;
  background: #EEEEEE;
  color: #111111;
  font-size: 16px;
  text-align: left;
}

div#gallery div.gallery-item div.progress {
  margin-top: 30px;
}

div#gallery ul.languages img.flag {
  width: 50px;
  height: 30px;
}

div#gallery ul.languages {
  margin-top: 20px;
}
div#gallery ul.languages li {
  display: inline-block;
  margin-right: 10px;
}
