body {
  font-family: sans-serif;
}

h3 {
  font-size: 30px;
  text-align: left;
}

h4 {
  font-size: 20px;
  text-align: left;
}

div#gallery div.gallery-item {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid #EEEEEE;
}

div#gallery div.gallery-item img {
  border-radius: 0;
  max-height: 20vh;
  margin: 10px auto 0 auto;
  border: 1px solid #111111;
}

div#gallery div.gallery-item div.caption {
  margin-top: 10px;
  padding: 20px;
  border-radius: 0;
  background: #F5F5F5;
  font-size: 16px;
  text-align: left;
}

div#gallery div.gallery-item div.progress {
  margin-top: 30px;
}

ul.languages img.flag {
  width: 50px;
  height: 30px;
  cursor: pointer;
}

ul.languages li {
  display: inline-block;
  margin-right: 10px;
}
